<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>CNPM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>userController.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserIndexController</servlet-name>
    <servlet-class>userController.UserIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserIndexController</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserCreateController</servlet-name>
    <servlet-class>userController.UserCreateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCreateController</servlet-name>
    <url-pattern>/user-create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserStoreController</servlet-name>
    <servlet-class>userController.UserStoreController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserStoreController</servlet-name>
    <url-pattern>/user-store</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserEditController</servlet-name>
    <servlet-class>userController.UserEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditController</servlet-name>
    <url-pattern>/user-edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserUpdateController</servlet-name>
    <servlet-class>userController.UserUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateController</servlet-name>
    <url-pattern>/user-update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserDeleteController</servlet-name>
    <servlet-class>userController.UserDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteController</servlet-name>
    <url-pattern>/user-delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserProfileController</servlet-name>
    <servlet-class>userController.UserProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileController</servlet-name>
    <url-pattern>/user-profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ThietBiIndexController</servlet-name>
    <servlet-class>thietBiController.ThietBiIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThietBiIndexController</servlet-name>
    <url-pattern>/thietbi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ThietBiThemController</servlet-name>
    <servlet-class>thietBiController.ThietBiThemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThietBiThemController</servlet-name>
    <url-pattern>/thietbi-them</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ThietBiSuaController</servlet-name>
    <servlet-class>thietBiController.ThietBiSuaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThietBiSuaController</servlet-name>
    <url-pattern>/thietbi-sua</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ThietBiTimKiemController</servlet-name>
    <servlet-class>thietBiController.ThietBiTimKiemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThietBiTimKiemController</servlet-name>
    <url-pattern>/thietbi-timkiem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ThietBiKetQuaTimKiemController</servlet-name>
    <servlet-class>thietBiController.ThietBiKetQuaTimKiemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThietBiKetQuaTimKiemController</servlet-name>
    <url-pattern>/thietbi-ketquatimkiem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ThietBiChiTietController</servlet-name>
    <servlet-class>thietBiController.ThietBiChiTietController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThietBiChiTietController</servlet-name>
    <url-pattern>/thietbi-chitiet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sdtbIndexController</servlet-name>
    <servlet-class>sdtbController.sdtbIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sdtbIndexController</servlet-name>
    <url-pattern>/sdtb-danhsach</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sdtbDangKyController</servlet-name>
    <servlet-class>sdtbController.sdtbDangKyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sdtbDangKyController</servlet-name>
    <url-pattern>/sdtb-dangky</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DanhSachThietBiController</servlet-name>
    <servlet-class>chucNangNguoiMuonController.DanhSachThietBiController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachThietBiController</servlet-name>
    <url-pattern>/cnnm-danhsachthietbi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DangKySuDungController</servlet-name>
    <servlet-class>chucNangNguoiMuonController.DangKySuDungController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangKySuDungController</servlet-name>
    <url-pattern>/cnnm-dangkysudung</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SoLuongKhaDungController</servlet-name>
    <servlet-class>chucNangNguoiMuonController.SoLuongKhaDungController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SoLuongKhaDungController</servlet-name>
    <url-pattern>/cnnm-soluongkhadung</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>YeuCauDaGuiController</servlet-name>
    <servlet-class>chucNangNguoiMuonController.YeuCauDaGuiController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YeuCauDaGuiController</servlet-name>
    <url-pattern>/cnnm-yeucaudagui</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HuyDangKyController</servlet-name>
    <servlet-class>chucNangNguoiMuonController.HuyDangKyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HuyDangKyController</servlet-name>
    <url-pattern>/cnnm-huydangky</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ThietBiDangSuDungController</servlet-name>
    <servlet-class>chucNangNguoiMuonController.ThietBiDangSuDungController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThietBiDangSuDungController</servlet-name>
    <url-pattern>/cnnm-thietbidangsudung</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChiTietSuDungController</servlet-name>
    <servlet-class>chucNangNguoiMuonController.ChiTietSuDungController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietSuDungController</servlet-name>
    <url-pattern>/cnnm-chitietsudung</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BaoDuongIndexController</servlet-name>
    <servlet-class>baoDuongController.BaoDuongIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaoDuongIndexController</servlet-name>
    <url-pattern>/baoduong</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BaoDuongChiTietController</servlet-name>
    <servlet-class>baoDuongController.BaoDuongChiTietController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaoDuongChiTietController</servlet-name>
    <url-pattern>/baoduong-chitiet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BaoDuongThemThietBiController</servlet-name>
    <servlet-class>baoDuongController.BaoDuongThemThietBiController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaoDuongThemThietBiController</servlet-name>
    <url-pattern>/baoduong-themthietbi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BaoDuongCapNhatController</servlet-name>
    <servlet-class>baoDuongController.BaoDuongCapNhatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaoDuongCapNhatController</servlet-name>
    <url-pattern>/baoduong-capnhat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BaoDuongDangKyController</servlet-name>
    <servlet-class>baoDuongController.BaoDuongDangKyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaoDuongDangKyController</servlet-name>
    <url-pattern>/baoduong-dangky</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BaoDuongPostDangKyController</servlet-name>
    <servlet-class>baoDuongController.BaoDuongPostDangKyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaoDuongPostDangKyController</servlet-name>
    <url-pattern>/baoduong/dangky</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BaoDuongHuyDangKyController</servlet-name>
    <servlet-class>baoDuongController.BaoDuongHuyDangKyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaoDuongHuyDangKyController</servlet-name>
    <url-pattern>/baoduong/huydangky</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>BaoDuongHoanTatController</servlet-name>
    <servlet-class>baoDuongController.BaoDuongHoanTatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaoDuongHoanTatController</servlet-name>
    <url-pattern>/baoduong/hoantat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BaoDuongTienHanhController</servlet-name>
    <servlet-class>baoDuongController.BaoDuongTienHanhController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaoDuongTienHanhController</servlet-name>
    <url-pattern>/baoduong/tienhanh</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BaoDuong404Controller</servlet-name>
    <servlet-class>baoDuongController.BaoDuong404Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaoDuong404Controller</servlet-name>
    <url-pattern>/baoduong/not-found</url-pattern>
  </servlet-mapping>
</web-app>