<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>CNPM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>userController.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserIndexController</servlet-name>
    <servlet-class>userController.UserIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserIndexController</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserCreateController</servlet-name>
    <servlet-class>userController.UserCreateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCreateController</servlet-name>
    <url-pattern>/user-create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserStoreController</servlet-name>
    <servlet-class>userController.UserStoreController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserStoreController</servlet-name>
    <url-pattern>/user-store</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserEditController</servlet-name>
    <servlet-class>userController.UserEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditController</servlet-name>
    <url-pattern>/user-edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserUpdateController</servlet-name>
    <servlet-class>userController.UserUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateController</servlet-name>
    <url-pattern>/user-update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserDeleteController</servlet-name>
    <servlet-class>userController.UserDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteController</servlet-name>
    <url-pattern>/user-delete</url-pattern>
  </servlet-mapping>
</web-app>